body {
	background: #D1D3D4;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: #D1D3D4;
	position: relative;
}

/*#triangle {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 150px solid yellow;
	position: absolute;
	top: 203px;
	left: 60px;
}*/
#banana {
    height: 200px;
    width: 200px;
    top: 140px;
    left: 560px;
    position: absolute;
    background-color: rgb(215, 215, 5);
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#banana::before {
    content: '';
    height: 204px;
    width: 205px;
    background-color: #D1D3D4;
    position: absolute;
    border-bottom-right-radius: 100%;    
}

#banana::after {
    content: '';
    height: 5px;
    width: 5px;
    margin-left: 196px;
    margin-top: 50px;
    background-color: #D1D3D4;
    position: absolute;

}

#rectangle {
	width: 40px;
    height: 20px;
    top: 300px;
    position: absolute;
    top: 320px;
    left: 300px;
    background: pink;
}

#circletwo {
    width: 100px;
    height: 100px;
    background: yellow;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position:absolute;
}


#stem {
	width: 10px;
    height: 300px;
    background: green;
    top: 90px;
    left: 550px;
    position: absolute;
}

#square {
	width: 80px;
    height: 200px;
    background-color: #FFD54C;
    top: 150px;
    left: 520px;
    position: absolute;
}

#circletwo {
    width: 80px;
    height: 80px;
    top: 30px;
    left: 515px;
    background: brown;
    background-blend-mode: overlay;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
}


#squaretop {
	width: 30px;
    height: 30px;
    background: red;
    top: 187px;
    left:400px;
    position: absolute;

	}

#circle {
	width: 150px;
	height: 150px;
	background: red;
	border-radius: 200px;
	top: 203px;
	left: 340px;
	position: absolute;

}

	
#trapezoid {
	border-bottom: 100px solid orange;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 40px;
    left: 40px;
    height: 300px;
    width: 700px;
}

.container {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.droplet {
  border-radius: 5px 90%;
  border-style: solid;
  border-width: 1px;
  border-color: orange;
  height: 70px;
  margin: auto;
  width: 70px;
  position: absolute;
    top: -176px;
    left: 158px;
  /* top: 50%;
    right: 50%;*/
  transform-origin: left top;
  opacity: 0;
}

#no1 {
  background: #DAC01A;
  animation: spin 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

#no2 {
  background: #DAC01A;
  animation: spin2 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.05s;
}

#no3 {
  background: #DAC01A;
  animation: spin3 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

#no4 {
  background: #DAC01A;
  animation: spin4 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
}

#no5 {
  background: #DAC01A;
  animation: spin5 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

#no6 {
  background: #DAC01A;
  animation: spin6 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.25s;
}

#no7 {
  background: #DAC01A;
  animation: spin7 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.30s;
}

#no8 {
  background: #DAC01A;
  animation: spin8 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.35s;
}

#no9 {
  background: #DAC01A;
  animation: spin9 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.40s;
}

#no10 {
  background: #DAC01A;
  animation: spin10 5s ease-out infinite;
  animation-fill-mode: forwards;
  animation-delay: 0.45s;
}

@keyframes spin {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(324deg) scale(1);
    transform: rotate(324deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(324deg) scale(1);
    transform: rotate(324deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin2 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(288deg) scale(1);
    transform: rotate(288deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(288deg) scale(1);
    transform: rotate(288deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin3 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(252deg) scale(1);
    transform: rotate(252deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(252deg) scale(1);
    transform: rotate(252deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin4 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(2160deg) scale(1);
    transform: rotate(216deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(216deg) scale(1);
    transform: rotate(216deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin5 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin6 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(144deg) scale(1);
    transform: rotate(144deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(144deg) scale(1);
    transform: rotate(144deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin7 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(108deg) scale(1);
    transform: rotate(108deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(108deg) scale(1);
    transform: rotate(108deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin8 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(72deg) scale(1);
    transform: rotate(72deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(72deg) scale(1);
    transform: rotate(72deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    ;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin9 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(36deg) scale(1);
    transform: rotate(36deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(36deg) scale(1);
    transform: rotate(36deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    ;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}

@keyframes spin10 {
  0% {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.01);
    transform: rotate(0deg) scale(0.01);
  }
  20% {
    opacity: 100;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  60% {
    opacity: 100;
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  80% {
    opacity: 0;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
  100% {
    ;
    -webkit-transform: rotate(720deg) scale(0.01);
    transform: rotate(720deg) scale(0.01);
  }
}
  
