body {
	background: #D1D3D4;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: #D1D3D4;
	position: relative;
}

/*#triangle {
	width: 0;
	height: 0;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-bottom: 150px solid yellow;
	position: absolute;
	top: 203px;
	left: 60px;
}*/
#banana {
    height: 200px;
    width: 200px;
    top: 140px;
    left: 560px;
    position: absolute;
    background-color: rgb(215, 215, 5);
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#banana::before {
    content: '';
    height: 204px;
    width: 205px;
    background-color: #D1D3D4;
    position: absolute;
    border-bottom-right-radius: 100%;    
}

#banana::after {
    content: '';
    height: 5px;
    width: 5px;
    margin-left: 196px;
    margin-top: 50px;
    background-color: #D1D3D4;
    position: absolute;

}

#rectangle {
	width: 40px;
    height: 20px;
    top: 300px;
    position: absolute;
    top: 320px;
    left: 300px;
    background: pink;
}

#circletwo {
    width: 100px;
    height: 100px;
    background: yellow;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position:absolute;
}


#stem {
	width: 10px;
    height: 300px;
    background: green;
    top: 90px;
    left: 550px;
    position: absolute;
}

#square {
	width: 80px;
    height: 200px;
    background-color: #FFD54C;
    top: 150px;
    left: 520px;
    position: absolute;
}

#circletwo {
    width: 80px;
    height: 80px;
    top: 30px;
    left: 515px;
    background: brown;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    position: absolute;
}


#triangle-up {
    width: 0;
    height: 0;
    top: -20px;
    left: 532px;
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid yellow;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}


#triangle-down {
    width: 0;
    height: 0;
    top: -20px;
    left: 400px;
    position: absolute;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 50px solid yellow;;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    
}
 

#triangle-left {
    width: 0;
    height: 0;
    top: -20px;
    left: 100px;
    position: absolute;
    border-top: 25px solid transparent;
    border-right: 50px solid yellow;
    border-bottom: 25px solid transparent;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    
}       
                    
#triangle-right {
    width: 0;
    height: 0;
    top: -20px;
    left: 200px;
    position: absolute;
    border-top: 50px solid transparent;
    border-left: 100px solid yellow;
    border-bottom: 50px solid transparent;
    
}


#squaretop {
	width: 30px;
    height: 30px;
    background: red;
    top: 187px;
    left:400px;
    position: absolute;

	}

#circle {
	width: 150px;
	height: 150px;
	background: red;
	border-radius: 200px;
	top: 203px;
	left: 340px;
	position: absolute;

}

	
#trapezoid {
	border-bottom: 100px solid orange;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 40px;
    left: 40px;
    height: 300px;
    width: 700px;
}


/*
#clip {
	width: 150px;
	height: 150px;
	background: green;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	top: 203px;
	left: 690px;
	position: absolute;*/

	/* uncomment for css transitions */
	/* transition: all 400ms ease; */
}

/* animations */

/*
#clip:hover {
	transform: rotate(1200deg);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(100px);
  }
}

*/